{% extends "middle.html" %}

{% load comments %}

{% block medialink %}
<script type='text/javascript' src="/static/media/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="/static/media/syntaxhighlighter/scripts/shBrushPython.js"></script>
<link type="text/css" rel="stylesheet" href="/static/media/syntaxhighlighter/styles/shCoreDefault.css"/>
<link type="text/css" rel="stylesheet" href="/static/media/syntaxhighlighter/styles/shCore.css"/>
 
<script type="text/javascript">
	SyntaxHighlighter.config.clipboardSwf = '/static/media/syntaxhighlighter/scripts/clipboard.swf';
     SyntaxHighlighter.all();
</script>
{% endblock %}


{% block content %}


<a href="/blog/view/{{post.id}}/"><h1 class="title">{{ post.title }}</h1></a>
<p class="meta">
	
	<small>Posted on {{post.pub_time|date:"F j,Y"}}   |
		Lasted edit on {{post.edit_time|date:"F j,Y"}}<br/>
		flags  <a href="/blog/label/{{post.label_id.lname}}/">{{post.label_id.lname}}</a> | 
		{% get_comment_count for post as comment_count %}
		<a href="#comment">Comments ({{comment_count}})</a>
	</small>
</p>
<div class="entry">
		{{post.content|safe}}
</div>
<!-- begin comment -->
		{% get_comment_list for post as comment_list %}
		
		{% for comment in comment_list %}
			<p>
			<b>{{comment.user_name}}</b><br/>
			<b>{{comment.submit_date}}</b><br/>
			{{ comment.comment }}
			</P>
	
		{% endfor %}
		{#  above is to show comment list  #}
		<!--user to give comments -->
		
		<div class="entry">
		</div>
		
		<style type="text/css">
			label{display:inline;float:left;width:100px;}
			input,textarea{width:340px;}
			textarea{height:80px;}
			input[type=submit]{width:120px;margin-left:300px;}
		</style>
	
		{% get_comment_form for post as form %}
		
		<table class="comment">
			<form action='{%comment_form_target%}' method='post'>
					{% csrf_token %}
					{{form.object_pk}}
					{{form.content_type}}
					{{form.timestamp}}
					{{form.security_hash}}
					<p><label for="id_name">姓名（必填）：</label><input name="name" id="id_name"></p>
					<p><label for="id_email">邮箱（必填）：</label><input name="email" id="id_email"></p>
					<p><label for="id_comment">评论（必填）：</label></p>
					<p><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></p>
					<p style="display:none;"><label for="id_honeypot">如果你在该字段中输入任何内容，那么你的评论就会被视为垃圾评论。</label> 
						<input type="text" name="honeypot" id="id_honeypot">
					</p>
					<p><input name="post" value="发表" type="submit" /></p>
					<input type='hidden' name='next' value='/blog/view/{{post.id}}/'/>
			</form>
		</table>



		<!-- end to give comments-->

<!-- end comment -->




{% endblock %}			








